img {
  display: block;
  max-width: 100%;
  align-items: center;
}

.hidden {
  display: none;
}
p {
  margin: 0;
}
.loader {
  font-size: 0;
  margin: 0 auto;
  margin-top: 50px;
  width: 48px;
  height: 48px;

  position: relative;
  border: 3px solid;
  border-color: #2f00ff #0000 #fbff00 #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before,
.loader:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #fbff00;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #2f00ff #0000 #0000 #0000;
  transform: translate(32px, 3px) rotate(-35deg);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.cat-info {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
  margin-top: 100px;
  gap: 50px;
}
@media only screen and (max-width: 650px) {
  .cat-info {
    flex-wrap: wrap;
  }
}
.cat-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.cat-name {
  font-size: 30px;
  margin: 0;
}
.cat-description-text {
  font-size: 20px;
  font-weight: 700;
}
